.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header__copy {
  /*color: rgba(0, 0, 0, 0.5);*/
}

.header__copy--link {
  /*color: rgba(0, 0, 0, 0.5);*/
  /*border-bottom-color: rgba(0, 0, 0, 0.3);*/
}
