@import 'variables.pcss';
@import 'permian.pcss';
@import 'starty.pcss';
@import 'typo.pcss';
@import 'main.pcss';
@import 'test-image.pcss';
@import 'result.pcss';

body {
	width: 100%;
	font-family: var(--f_Helvetica);
	background: #fff;
	font-size: 18px;
	line-height: 20px;
}
