@font-face {
    font-family: 'Permian Sans';
    src: url('../fonts/PermianSans.woff') format('woff'),
         url('../fonts/PermianSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
