/*Шрифты*/
:root {
  --f_Helvetica:'Helvetica Neue', Arial, sans-serif;
  --f_Permian_Sans: 'Permian Sans';
  --f_Lora: 'Lora';
  --size_Default: 18px;
  --gray: rgba(0, 0, 0, .5);
  --molokoColor: rgba(41, 146, 228, 1);
}

/*Адаптив*/
@custom-media --tablet (width <= 990px);
@custom-media --miniTablet (width <= 860px);
@custom-media --miniMobile (width <= 550px);
