.container
  include header

  p 1. Выберите фоновую фотографию
  // Загрузка картинки
  .input-file
    input.input-file__input#files(type='file', name='files[]', multiple='')
    label.button.input-file__label(for="files") Выберите файл
  span.input-line__middle или
  input.input-url#imageUrl(type='text', placeholder='Вставьте ссылку на картинку')
  p 2. Наберите заголовок новости и отрегулируйте положение фона
  // Скрытые поля определяющие шрифт и размер шрифта
  form#title-font
    | font-family:
    input#title-font-family(type='text', value='Permian Sans')
    | font-size:
    input#title-font-size(type='number', value='52')
    | px
    | font-weight:
    input#title-font-weight(type='text', value='700')
  // WISWIG окошко
  .cover-container
    #cover.cover
      #text
        textarea#title(placeholder='Заголовок новости')
        // (На будущее, для материала) <input id="subtitle" type="text" placeholder="Подзаголовок"/>
      span.logo abuse.media
    // Регулятор положения фона
    input#bg-position(type='range', min='0', max='100', step='0.1', orient='vertical')
  // <p>3. Посмотрите, как картинка будет выглядеть в сетях и опенграфе</p>
  // Предпросмотр постов в соцсетях
  //
    <div id="networks-preview">
    <canvas id="fb-post"></canvas>
    <canvas id="vk-post"></canvas>
    <canvas id="twi-post"></canvas>
    </div>
  // Предпросмотр опенграфа
  //
    <div id="opengraph-preview">
    <canvas id="fb-post"></canvas>
    <canvas id="vk-post"></canvas>
    <canvas id="twi-post"></canvas>
    </div>
  p 3. Посмотрите, что получилось и скачайте картинку себе
  // Скачивалка изображения и дебагер
  #result
    .result__buttons
      a.result__button#download-button Скачать картинку
    // Канвас-дебагер
    canvas#image-debug(width='960px', height='480')
      | Ваш браузер не поддерживает <canvas>. Воспользуйтесь Гугль-Хромом или другим современным браузером
