header.header
  h1.name__heading
    img(src='assets/img/top-hat.png').name__hat
    |  Маркиз для 
    a(href="http://abuse.media") abuse.media
  div.header__copy
    | Автор: 
    a(href="https://github.com/kiryous/").header__copy--link Кирилл Чернаков
